{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} BLOG Details  {% endblock %}

{% block body_block %}

<div class="row">
 
    <div class="col-sm-6">
        <h2> {{ jobs.job_title }}</h2>
    </br>
        <img src="/media/{{jobs.card_image}}" alt="{{ job.job_title }}" title="{{ job.job_title }}" width="100%">
    </div>
    <div class="col-sm-8">
        <form action="{% url 'JobPortal_App:application' pk=jobs.pk %}">
        <input type="checkbox" id="myCheck" name="test" required> General Terms and Condition 
        <p>{{ jobs.terms_and_conditions|linebreaks }}</p><br>
        <input type="checkbox" id="myCheck" name="test" required> Technical Specification
        <p>{{ jobs.technical_specification|linebreaks }}</p><br>
        <input type="checkbox" id="myCheck" name="test" required> Payment Terms
        <p>{{ jobs.payment_terms|linebreaks }}</p><br> 
        <br>
<input  type="submit" value="Apply" class="btn btn-success btn-sm "><br><br><br>
</form>


</div>

{% endblock %}
<script>
    function myFunction() {
      var x = document.getElementById("myCheck").required;
      document.getElementById("demo").innerHTML = x;
    }
    </script>